@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* .hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
